@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:wght@500&display=swap");

:root {
  --shadow: 0.5rem 0.2rem rgba(0, 0, 0, 0.658);

  font-family: "Libre Baskerville", serif;
}
.pre-container {
  height: 20vh;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.main-container .background {
  background: blue;
  height: 200px;
  width: 200px;
  border: 2px black solid;
  border-radius: 2rem;
  position: relative;
  box-shadow: var(--shadow);
}
.Letter {
  position: absolute;
  color: white;
  font-size: 6rem;
  -webkit-user-select: none;
  text-shadow: var(--shadow);
}
.Letter.left {
  bottom: 10%;
  left: 15%;
}
.Letter.right {
  bottom: 10%;
  right: 15%;
}
.bookmark {
  position: absolute;
  background: red;
  width: 25%;
  height: 30%;
  right: 15%;
  box-shadow: var(--shadow);
}
